<h1>About</h1>
<hr>

<p>This is an ember app built by <a href="http://www.alexkaufman.co">Alex Kaufman</a>
  at <a href="https://www.epicodus.com/">Epicodus</a> in downtown Portland. It was
  built using a bootstrap inspired css file called paper from bootswatch.  I also
  added my own css and adjusted the bootswatch file to suit my needs.  The rotating
  envelopes use some simple css3 animations that I found online.</p>
