<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
      <h1 class="top">Email Organizer</h1>
    <ul class="nav navbar-nav navbar-left" style="margin-left:76px;">
      <li><img class="rotate" src="css/envelope.png"></li>
    </ul>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'users'}}Users{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><img class="rotate" src="css/envelope.png"></li>
    </ul>
  </nav>
  {{outlet}}
</div>
